# 1. Athena에서 Parquet로 변환

In [5]:
%store -r

In [24]:
import sys
import boto3
import sagemaker

<p>SageMaker에서 앞으로 사용할 SageMaker Session 설정, Role 정보를 설정합니다. </p>

In [7]:
sagemaker_session = sagemaker.Session()
sess = boto3.Session()
sm = sess.client('sagemaker')

## 1 ) PyAthena 수행

In [8]:
from pyathena import connect
from pyathena.pandas_cursor import PandasCursor
from pyathena.util import as_pandas

## 2 ) Athena에서 Parquet 파일 생성

In [11]:
# Set S3 path to Parquet data
s3_path_parquet = 's3://{}/amazon-reviews-pds/parquet'.format(job_bucket)
table_name_parquet = 'amazon_reviews_parquet'

In [12]:
# SQL statement to execute
statement = """CREATE TABLE IF NOT EXISTS {}.{}
WITH (format = 'PARQUET', external_location = '{}', partitioned_by = ARRAY['product_category']) AS
SELECT marketplace,
         customer_id,
         review_id,
         product_id,
         product_parent,
         product_title,
         star_rating,
         helpful_votes,
         total_votes,
         vine,
         verified_purchase,
         review_headline,
         review_body,
         CAST(YEAR(DATE(review_date)) AS INTEGER) AS year,
         DATE(review_date) AS review_date,
         product_category
FROM {}.{}""".format(database_name, table_name_parquet, s3_path_parquet, database_name, table_name_tsv)

print(statement)

CREATE TABLE IF NOT EXISTS awscustomerdb.amazon_reviews_parquet
WITH (format = 'PARQUET', external_location = 's3://sagemaker-us-east-2-322537213286/amazon-reviews-pds/parquet', partitioned_by = ARRAY['product_category']) AS
SELECT marketplace,
         customer_id,
         review_id,
         product_id,
         product_parent,
         product_title,
         star_rating,
         helpful_votes,
         total_votes,
         vine,
         verified_purchase,
         review_headline,
         review_body,
         CAST(YEAR(DATE(review_date)) AS INTEGER) AS year,
         DATE(review_date) AS review_date,
         product_category
FROM awscustomerdb.amazon_reviews_tsv

#### connection cursor를 사용하여 Execute 실행합니다.

이 작업은 몇 분정도 걸릴 수 있습니다.

In [13]:
cursor = connect(region_name=region_name, s3_staging_dir=s3_staging_dir).cursor()
cursor.execute(statement)

## 2 ) `MSCK REPAIR TABLE` 수행하여 Partitions 로드

MSCK REPAIR TABLE 명령은 테이블을 생성한 후 파일 시스템에 추가되거나 파일 시스템에서 제거된 Hive 호환 파티션을 Amazon S3와 같은 파일 시스템에서 스캔합니다. 이 명령은 파티션 및 파티션과 연결된 데이터와 관련하여 카탈로그의 메타데이터를 업데이트합니다.
Parquet 파티션 로드를 위해 다음 SQL 명령을 실행합니다.

In [14]:
statement = 'MSCK REPAIR TABLE {}.{}'.format(database_name, table_name_parquet)

print(statement)

MSCK REPAIR TABLE awscustomerdb.amazon_reviews_parquet

In [15]:
cursor = connect(region_name=region_name, s3_staging_dir=s3_staging_dir).cursor()
cursor.execute(statement)

#### Partitions를 확인해봅니다.

In [16]:
statement = 'SHOW PARTITIONS {}.{}'.format(database_name, table_name_parquet)

print(statement)

SHOW PARTITIONS awscustomerdb.amazon_reviews_parquet

In [17]:
cursor = connect(region_name=region_name, s3_staging_dir=s3_staging_dir).cursor()
cursor.execute(statement)

df_partitions = as_pandas(cursor)
df_partitions.head(5)

                              partition
0     product_category=Digital_Software
1  product_category=Digital_Video_Games

## 3 ) Sample Query 수행

In [18]:
product_category = 'Digital_Software'

statement = """SELECT * FROM {}.{}
    WHERE product_category = '{}' LIMIT 100""".format(database_name, table_name_parquet, product_category)

print(statement)

SELECT * FROM awscustomerdb.amazon_reviews_parquet
    WHERE product_category = 'Digital_Software' LIMIT 100

In [19]:
# Execute statement using connection cursor
cursor = connect(region_name=region_name, s3_staging_dir=s3_staging_dir).cursor()
cursor.execute(statement)

df = as_pandas(cursor)
df.head(5)

,marketplace,customer_id,review_id,product_id,product_parent,product_title,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,year,review_date,product_category
0,US,10522894,R25DT3J0R0P4W1,B002TOL9S2,272450374,Laplink PC mover Windows 7 Upgrade Assistant,4,3,3,N,Y,"Works well, but follow instructions explicitly",This product works exactly as advertised - I u...,2009,2009-12-15,Digital_Software
1,US,32578659,R2OI2C1PAW4D6L,B002VPE3FK,970462318,TurboTax Deluxe Federal + eFile + State 2009,1,16,23,N,Y,My Computer Crashed...,"Like the first reviewer, my computer crashed (...",2009,2009-12-14,Digital_Software
2,US,43439372,R1W3K9ZCO3T4GU,B002Q2VZCC,788587762,Garmin nüMaps Onetime Map Update for US & Cana...,1,238,263,N,Y,Be prepared for a hassle,I do not recommend buying this digital version...,2009,2009-12-13,Digital_Software
3,US,51387916,R1N30OJUW0HM1H,B002VPE3FK,970462318,TurboTax Deluxe Federal + eFile + State 2009,5,2,3,N,Y,No problem with download or install,I've used Turbo Tax for years with CD-Rom inst...,2009,2009-12-13,Digital_Software
4,US,32492296,R84VN0I3K8KZH,B002VPE3FK,970462318,TurboTax Deluxe Federal + eFile + State 2009,1,4,12,N,Y,Inaccurate dial up estimate,"I love Turbo Tax, the product, and have used i...",2009,2009-12-13,Digital_Software

# 2. AWS Data Wrangler를 이용한 Data 조회

* https://github.com/awslabs/aws-data-wrangler
* https://aws-data-wrangler.readthedocs.io

AWS Data Wrangler는 오픈 소스 Python 패키지로 Pandas 라이브러리의 기능을 AWS를 연결하는 DataFrames 및 AWS 데이터 관련 서비스 (Amazon Redshift, AWS Glue, Amazon Athena, Amazon EMR, Amazon QuickSight 등)로 확장합니다.

Pandas, Apache Arrow, Boto3, s3fs, SQLAlchemy, Psycopg2 및 PyMySQL과 같은 다른 오픈 소스 프로젝트를 기반으로 구축 된 Data Lakes, Data Warehouses 및 Databases의 데이터로드 / 언로드와 같은 일반적인 ETL 작업을 실행하는 추상 기능을 제공합니다.

In [27]:
!{sys.executable} -m pip install -q awswrangler==1.2.0

In [28]:
import awswrangler as wr

## 1 ) Push-Down Filters를 이용한 S3에서 Parquet 쿼리

S3의 prefix 또는 S3객체 경로의 리스트에서 Apache Parquet 파일을 읽습니다. 
Dataset의 개념은 Partitioning과 카탈로그통합과 같이 복잡한 특성을 가능하게 합니다.

dataset (bool) : 만약 True이면 컬럼으로 모든 관련된 partitions을 로드하여 단순 파일이 아닌 parquet dataset으로 읽습니다.

In [29]:
df_parquet_results = wr.s3.read_parquet(s3_path_parquet,
                                     columns=['star_rating', 'product_category', 'review_body'],
                                     filters=[("product_category", "=", "Digital_Software")],
                                     dataset=True)
df_parquet_results.shape

(102084, 3)

In [30]:
df_parquet_results.head(5)

,star_rating,review_body,product_category
0,4,This product works exactly as advertised - I u...,Digital_Software
1,1,"Like the first reviewer, my computer crashed (...",Digital_Software
2,1,I do not recommend buying this digital version...,Digital_Software
3,5,I've used Turbo Tax for years with CD-Rom inst...,Digital_Software
4,1,"I love Turbo Tax, the product, and have used i...",Digital_Software